
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f5f7fa;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #e3e3e3;
  outline: none;
  font-size: 14px;
}
 input:focus {
  border-bottom-color: #007BFF; /* Цвет нижней границы при фокусе */
  transition: border-color 0.3s; /* Плавный переход */
}

p {
  margin: 10px 0;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #0056b3;
}

button {
  
  max-width: 200px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.primary-btn {
  background-color: #18af1d;
  color: #fff;
}
.secondary-btn {
  background-color: #b41616;
  color: #fff;
}

button:hover {
  transform: translateY(-1px);
}
 
 
.label {
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1a;
}

.none {
  display: none;
}

.error {
  font-size: 12px;
  color: #dc3545;
  margin-top: 5px;
}

.msg {
  border: 2px solid #ff0808;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
}
